# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


functions/google_key.json
functions/database-debug.log
functions/ui-debug.log
functions/firestore-debug.log
functions/pubsub-debug.log
functions/firebase-debug.log
database-debug.log
firestore-debug.log
pubsub-debug.log
firebase-debug.log

/.firebase
