@keyframes lds-wedges {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes lds-wedges {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.lds-wedges {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;

	width: 200px !important;
	height: 200px !important;
	-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.lds-wedges > div > div {
	-webkit-transform-origin: 100px 100px;
	transform-origin: 100px 100px;
	-webkit-animation: lds-wedges 7s linear infinite;
	animation: lds-wedges 7s linear infinite;
	opacity: 0.8;
}
.lds-wedges > div > div > div {
	position: absolute;
	left: 60px;
	top: 60px;
	width: 40px;
	height: 40px;
	border-radius: 40px 0 0 0;
	-webkit-transform-origin: 100px 100px;
	transform-origin: 100px 100px;
}
.lds-wedges > div div:nth-child(1) > div {
	background: #f7d038;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(1) {
	-webkit-animation-duration: 1.75s;
	animation-duration: 1.75s;
}
.lds-wedges > div div:nth-child(2) > div {
	background: #a3e048;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(2) {
	-webkit-animation-duration: 2.333333333333333s;
	animation-duration: 2.333333333333333s;
}
.lds-wedges > div div:nth-child(3) > div {
	background: #49da9a;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(3) {
	-webkit-animation-duration: 3.5s;
	animation-duration: 3.5s;
}
.lds-wedges > div div:nth-child(4) > div {
	background: #34bbe6;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.lds-wedges > div div:nth-child(4) {
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}
