.mentions {
  margin: 0 0;
  width: 100%;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
}
.mentions--singleLine .mentions__higlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  padding: 5px;
  border: 2px inset;
}

.mentions--multiLine .mentions__control {
  font-size: 18px;
  border: 1px solid silver;
  border-radius: 4px;
  min-height: 100px;
}
.mentions--multiLine .mentions__highlighter {
  padding: 9px;
}
.mentions--multiLine .mentions__input {
  padding: 9px;
  min-height: 63px;
  outline: 0;
  border-radius: 4px;
}

.mentions__suggestions__list {
  background-color: var(--white-theme-color);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  max-height: 300px;
  overflow: auto;
}
.mentions__suggestions__list::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mentions__suggestions__list::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.mentions__suggestions__list::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.35);
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  min-height: 36px;
}
.mentions__suggestions__list::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 0%, 0.4);
}

.mentions__suggestions__item {
}

.mentions__suggestions__item--focused {
}

.mentions__mention {
  background-color: var(--light-blue-theme-color);
}
