.text-test-mode {
  background-color: blue;
}

.white {
  color: var(--white-color);
  fill: var(--white-color);
}
.blue {
  color: var(--blue-color);
  fill: var(--blue-color);
}
.grey-1 {
  color: var(--grey-color-1);
  fill: var(--grey-color-1);
}
.grey-5 {
  color: var(--grey-color-5);
}
.grey-8 {
  color: var(--grey-color-8);
}
.grey-9 {
  color: var(--grey-color-9);
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.taj {
  text-align: justify;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}
.fs-12 {
  font-size: var(--twelve-font-size);
}
h1 {
  color: var(--grey-color-1);
  margin: 0;
  padding: 0;

  font-weight: 100;
  font-size: var(--thirty-two-font-size);
}
h2 {
  color: var(--primary-font-color);
  margin: 0;
  font-weight: 100;

  font-size: var(--thirty-two-font-size);
}
h3 {
  color: var(--grey-color-1);
  margin: 0;
  padding: 0;
  font-size: var(--twenty-font-size);
  font-weight: 100;
}
h4 {
  color: var(--primary-font-color);
  margin: 0;
  text-align: left;
  font-weight: 600;

  font-size: var(--twenty-font-size);
}
h5 {
  color: var(--grey-color-1);
  margin: 0;
  font-weight: 100;

  font-size: var(--sixteen-font-size);
}
h6 {
  color: var(--primary-font-color);
  margin: 0;
  font-weight: 100;

  font-size: var(--sixteen-font-size);
}

p {
  color: var(--grey-color-1);

  margin: 0;
  text-align: left;
  font-size: var(--fourteen-font-size);
  font-weight: 100;
}

text {
  font-size: var(--fourteen-font-size);
  fill: var(--primary-font-color);
}
