.no-border {
  border: none;
}
.no-resize {
  resize: none;
}

textarea,
input {
  min-width: 0;
  outline: none;
  resize: vertical;
  box-sizing: border-box;

  font-size: var(--eighteen-font-size);
  font-family: var(--font-theme);
  border: 1px solid var(--grey-color-7);
  color: var(--primary-font-color);
  background-color: var(--white-color);

  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}
textarea:focus,
input:focus {
  border-color: var(--main-color);
}

input[type="file"] {
  display: none;
}
::placeholder {
  color: var(--grey-color-3);
}
