.blue-fade {
  background: linear-gradient(to top, var(--blue-color), #64b5f6);
}
.grey-button {
  border: 1px solid var(--grey-font-color);
  color: var(--grey-font-color) !important;
  background-color: var(--white-color);
}
.transparent-button.active {
  color: var(--four-blue-color);
}
.button-1:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button-2 {
  cursor: pointer;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
.button-2:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.button-3 {
  cursor: pointer;
  color: var(--grey-color-1);
  border-bottom: 2px solid transparent;
}
.button-3:hover,
.button-3.active {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
}

.button-4 {
  cursor: pointer;
  color: var(--grey-color-1);
  border-bottom: 1px solid var(--grey-color-7);
}
.button-4:hover,
.button-4.active {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.button-5 {
  cursor: pointer;
  background-color: var(--blue-color);
  border: 1px solid transparent;
  color: var(--white-color);
}
.button-5:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.button-6 {
  cursor: pointer;
  border: 4px solid transparent;
}
.button-6:hover,
.button-6:hover h3 {
  border-color: var(--blue-color);
  color: var(--blue-color) !important;
}
.cancel {
  color: var(--grey-color-1);
  border: 1px solid var(--grey-color-1);
}
.heart:hover {
  color: red;
}
button.purple {
  color: var(--seven-purple-color);
  background-color: var(--one-half-purple-color);
}
button.purple:hover {
  color: var(--five-purple-color);
  background-color: var(--one-half-purple-color);
}
button {
  color: var(--primary-font-color);
  font-family: var(--font-theme);
  font-size: var(--sixteen-font-size);

  cursor: pointer;
  outline: 0;

  border: none;
  background-color: transparent;
  pointer-events: auto;
  box-sizing: border-box;
}

a {
  color: var(--four-blue-color);
  font-weight: bold;
  text-decoration: none;
}
