.image.tiny {
  max-width: 80px;
  max-height: 70px;
}
.image.small {
  width: 50%;
}
.image.medium {
  width: 100%;
}
.image.large {
  width: 70vw;
}
.image.max {
  width: 100vw;
}

.hover-options-container {
  position: absolute;
  bottom: 100%;
  left: 0;

  display: none;
  background-color: red;
}
.hover-options-container:hover {
  display: flex;
}
.blog-img-container:hover .hover-options-container {
  display: flex;
}
#ghostit-blog-text-styling {
  position: fixed;
  bottom: 0;
  left: 15%;
  right: 15%;
  background-color: white;
  max-width: 80%;
}
#editable-text-container:hover .top-right-over-div {
  display: flex;
}
.blog-img-container:hover .top-right-over-div {
  display: flex;
}

.top-right-over-div {
  position: absolute;
  top: 0;
  right: -50px;
  z-index: 1;

  display: none;
  flex-direction: column;

  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: red;
}
.top-right-over-div:hover {
  display: flex;
}
