.text-test-mode {
  background-color: blue;
}

.inherit-color {
  color: inherit !important;
}

.white {
  color: var(--white-color);
  fill: var(--white-color);
}
.red {
  color: var(--red-color);
}
.purple {
  color: var(--purple-color);
}
.green {
  color: var(--green-color);
}
.blue {
  color: var(--main-color) !important;
  fill: var(--main-color) !important;
}
.orange {
  color: var(--orange-color) !important;
  fill: var(--orange-color) !important;
}
.primary {
  color: var(--primary-font-color);
}
.grey-1 {
  color: var(--grey-color-1);
  fill: var(--grey-color-1);
}
.grey-3 {
  color: var(--grey-color-3);
  fill: var(--grey-color-3);
}
.grey-5 {
  color: var(--grey-color-5);
}
.grey-8 {
  color: var(--grey-color-8);
}
.grey-9 {
  color: var(--grey-color-9);
}
.grey-11 {
  color: var(--grey-color-11);
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.taj {
  text-align: justify;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.bold {
  font-weight: bold;
}
.no-bold {
  font-weight: normal !important;
}
.underline {
  text-decoration: underline;
}
.fs-10 {
  font-size: var(--ten-font-size);
}
.fs-12 {
  font-size: var(--twelve-font-size);
}
.fs-14 {
  font-size: var(--fourteen-font-size);
}
.fs-16 {
  font-size: var(--sixteen-font-size);
}
.fs-18 {
  font-size: var(--eighteen-font-size);
}
.fs-20 {
  font-size: var(--twenty-font-size);
}
.fs-22 {
  font-size: var(--twenty-two-font-size);
}
.fs-24 {
  font-size: var(--twenty-four-font-size);
}
.fs-26 {
  font-size: var(--twenty-six-font-size);
}
.fs-30 {
  font-size: var(--thirty-font-size);
}
.fs-40 {
  font-size: var(--forty-font-size);
}
h1 {
  margin: 0;
  padding: 0;

  font-size: var(--thirty-two-font-size);
  font-weight: 900;
}
h2 {
  color: var(--primary-font-color);
  margin: 0;

  font-size: var(--thirty-two-font-size);
}
h3 {
  margin: 0;
  padding: 0;
  font-size: var(--twenty-two-font-size);
}
h4 {
  color: var(--primary-font-color);
  margin: 0;
  text-align: left;

  font-size: var(--twenty-two-font-size);
}
h5 {
  margin: 0;

  font-size: var(--twenty-font-size);
}
h6 {
  color: var(--primary-font-color);
  margin: 0;

  font-size: var(--twenty-font-size);
}
p {
  color: var(--grey-color-1);
  margin: 0;
  text-align: left;
  font-size: var(--eighteen-font-size);
  font-weight: normal;
  white-space: pre-line;
}
li {
  color: var(--grey-color-1);
  margin: 0;
  text-align: left;
  font-size: var(--eighteen-font-size);
  font-weight: normal;
  white-space: pre-line;
}

text {
  font-size: var(--eighteen-font-size);
  fill: var(--primary-font-color);
}
