@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
.firebase-emulator-warning {
  display: none;
}
.cool-colors {
  background-color: #53f4ff;
}
.bg-grey-2 {
  background-color: #e7f4fe;
}
:root {
  --main-color: #2096f2;

  --green-theme-color: #86ff3b;
  --purple-theme-color: #e056fd;
  --orange-theme-color: #ff9f1a;
  --red-color: #f44336;

  --light-blue-color: #ebf5fe;

  --light-blue-theme-color: #cffdff;
  --light-green-theme-color: #92ff4f;

  --dark-blue-theme-color: #0097e6;
  --dark-green-theme-color: #44bd32;
  --dark-purple-theme-color: #be2edd;

  --black-color: #000;
  --white-color: #fff;

  --grey-color-1: #8d96a7;
  --grey-color-2: #f8f8f8;
  --grey-color-3: #8c96a6;
  --grey-color-4: #f2f5f9;
  --grey-color-5: #a9b1b6;
  --grey-color-6: #dddddd;
  --grey-color-7: #e1e6ea;
  --grey-color-8: #6e7981;
  --grey-color-9: #859097;
  --grey-color-10: #f4f8fb;
  --grey-color-11: #6d7980;

  --primary-font-color: #3a4046;

  --large-font-size: 13pt;
  --extra-large-font-size: 17pt;

  --ten-font-size: 10px;
  --twelve-font-size: 12px;
  --thirteen-font-size: 13px;
  --fourteen-font-size: 14px;
  --fifteen-font-size: 15px;

  --sixteen-font-size: 16px;
  --eighteen-font-size: 18px;
  --twenty-font-size: 20px;

  --twenty-two-font-size: 22px;
  --twenty-four-font-size: 24px;
  --twenty-six-font-size: 26px;
  --thirty-font-size: 30px;
  --thirty-two-font-size: 32px;
  --forty-font-size: 40px;

  --font-theme: "Nunito Sans";
}

.emoji-mart-preview {
  display: none !important;
}
.blog h1 {
  color: var(--primary-font-color);
  margin-bottom: 16px;
}

.blog h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.blog p {
  margin-bottom: 8px;
}

.blog a {
  color: var(--main-color);
  text-decoration: underline;
}

.inherit-color {
  color: inherit !important;
}
.blog img {
  margin-bottom: 16px;
}
.grid-1 {
  display: grid;
  grid-template-columns: 32px 5fr;
}
.pa64 {
  padding: 64px;
}
.px64 {
  padding-right: 64px;
  padding-left: 64px;
}
.py64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.pt64 {
  padding-top: 64px;
}
.pr64 {
  padding-right: 64px;
}
.pb64 {
  padding-bottom: 64px;
}
.pl64 {
  padding-left: 64px;
}

.pa48 {
  padding: 48px;
}
.px48 {
  padding-right: 48px;
  padding-left: 48px;
}
.py48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.pt48 {
  padding-top: 48px;
}
.pr48 {
  padding-right: 48px;
}
.pb48 {
  padding-bottom: 48px;
}
.pl48 {
  padding-left: 48px;
}

.pa32 {
  padding: 32px;
}
.px32 {
  padding-right: 32px;
  padding-left: 32px;
}
.py32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pt32 {
  padding-top: 32px;
}
.pr32 {
  padding-right: 32px;
}
.pb32 {
  padding-bottom: 32px;
}
.pl32 {
  padding-left: 32px;
}

.pa16 {
  padding: 16px;
}
.px16 {
  padding-right: 16px;
  padding-left: 16px;
}
.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pl16 {
  padding-left: 16px;
}

.pa8 {
  padding: 8px;
}
.px8 {
  padding-right: 8px;
  padding-left: 8px;
}
.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}

.pa4 {
  padding: 4px;
}
.px4 {
  padding-right: 4px;
  padding-left: 4px;
}
.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pt4 {
  padding-top: 4px;
}
.pr4 {
  padding-right: 4px;
}
.pb4 {
  padding-bottom: 4px;
}
.pl4 {
  padding-left: 4px;
}

.pa2 {
  padding: 2px;
}
.px2 {
  padding-right: 2px;
  padding-left: 2px;
}
.py2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl2 {
  padding-left: 2px;
}

.pa1 {
  padding: 1px;
}
.px1 {
  padding-right: 1px;
  padding-left: 1px;
}
.py1 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.pl1 {
  padding-left: 1px;
}

.ma64 {
  margin: 64px;
}
.mx64 {
  margin-right: 64px;
  margin-left: 64px;
}
.my64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.mt64 {
  margin-top: 64px;
}
.mr64 {
  margin-right: 64px;
}
.mb64 {
  margin-bottom: 64px;
}
.ml64 {
  margin-left: 64px;
}

.ma48 {
  margin: 48px;
}
.mx48 {
  margin-right: 48px;
  margin-left: 48px;
}
.my48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.mt48 {
  margin-top: 48px;
}
.mr48 {
  margin-right: 48px;
}
.mb48 {
  margin-bottom: 48px;
}
.ml48 {
  margin-left: 48px;
}

.ma32 {
  margin: 32px;
}
.mx32 {
  margin-right: 32px;
  margin-left: 32px;
}
.my32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mt32 {
  margin-top: 32px;
}
.mr32 {
  margin-right: 32px;
}
.mb32 {
  margin-bottom: 32px;
}
.ml32 {
  margin-left: 32px;
}

.ma16 {
  margin: 16px;
}
.mx16 {
  margin-right: 16px;
  margin-left: 16px;
}
.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt16 {
  margin-top: 16px;
}
.mr16 {
  margin-right: 16px;
}
.mb16 {
  margin-bottom: 16px;
}
.ml16 {
  margin-left: 16px;
}

.ma8 {
  margin: 8px;
}
.mx8 {
  margin-right: 8px;
  margin-left: 8px;
}
.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}

.ma4 {
  margin: 4px;
}
.mx4 {
  margin-right: 4px;
  margin-left: 4px;
}
.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mt4 {
  margin-top: 4px;
}
.mr4 {
  margin-right: 4px;
}
.mb4 {
  margin-bottom: 4px;
}
.ml4 {
  margin-left: 4px;
}

.ma2 {
  margin: 2px;
}
.mx2 {
  margin-right: 2px;
  margin-left: 2px;
}
.my2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mt2 {
  margin-top: 2px;
}
.mr2 {
  margin-right: 2px;
}
.mb2 {
  margin-bottom: 2px;
}
.ml2 {
  margin-left: 2px;
}

.ma1 {
  margin: 1px;
}
.mx1 {
  margin-right: 1px;
  margin-left: 1px;
}
.my1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.mt1 {
  margin-top: 1px;
}
.mr1 {
  margin-right: 1px;
}
.mb1 {
  margin-bottom: 1px;
}
.ml1 {
  margin-left: 1px;
}

.gap1 {
  gap: 1px;
}
.gap2 {
  gap: 2px;
}
.gap4 {
  gap: 4px;
}
.gap8 {
  gap: 8px;
}
.gap16 {
  gap: 16px;
}
.gap32 {
  gap: 32px;
}
.gap64 {
  gap: 64px;
}

.br4 {
  border-radius: 4px;
}
.br8 {
  border-radius: 8px;
}
.br16 {
  border-radius: 16px;
}
.br20 {
  border-radius: 20px;
}
.br-round {
  border-radius: 50%;
}

.break-word {
  word-wrap: break-all;
  overflow: hidden;
}

.border-all {
  border: 1px solid var(--grey-color-7);
}
.border-top {
  border-top: 1px solid var(--grey-color-7);
}
.border-right {
  border-right: 1px solid var(--grey-color-7);
}
.border-bottom {
  border-bottom: 1px solid var(--grey-color-7);
}
.border-left {
  border-left: 1px solid var(--grey-color-7);
}
.border-all.active,
.border-top.active,
.border-right.active,
.border-bottom.active,
.border-left.active {
  border-color: var(--main-color);
}
.border-all.large,
.border-top.large,
.border-right.large,
.border-bottom.large,
.border-left.large {
  border-width: 2px;
}

.clickable {
  cursor: pointer;
}

.normal-cursor {
  cursor: default;
}

.no-text-wrap {
  overflow: hidden;
  white-space: nowrap;
}

.online-dot {
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #1fab89;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: var(--font-theme);
  color: var(--grey-color-1);
}

.no-border {
  border: none !important;
  outline: 0px solid transparent;
}
.no-resize {
  resize: none;
}
.box-sizing {
  box-sizing: border-box;
}

textarea,
input {
  min-width: 0;
  outline: none;
  resize: vertical;
  box-sizing: border-box;

  font-size: var(--eighteen-font-size);
  font-family: var(--font-theme);
  border: 1px solid var(--grey-color-7);
  color: var(--primary-font-color);
  background-color: var(--white-color);

  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}
textarea:focus,
input:focus {
  border-color: var(--main-color);
}

input[type="file"] {
  display: none;
}
::placeholder {
  color: var(--grey-color-3);
}
